#welcome{
  margin-bottom: 30px;
}
h1{
  line-height: 80px;
}
.card-footer{
  margin-top: 130px;
}
#about{
  margin-bottom: 30px;
  border: transparent;
}
#design{
  border: transparent;
}
#development{
  border: transparent;
}
#product{
  border: transparent;
}
#productHeading{
  text-align: right;
}
h2{
  text-align: center;
}
#whatWeDo{
  column-width: 100%;
}
#contactUs{
  background-image: url(/assets/backgrounds/c_image.jpg);
}
input{
  background-color: transparent;
  border: 0.5px solid white;
}
textarea{
  background-color: transparent;
  border: 0.5px solid white;  border: 0.5px solid white;
}
::placeholder{
  color: white;
}