#about{
  border: transparent;
}
#design{
  border: transparent;
}
#development{
  border: transparent;
}
#product{
  border: transparent;
}
#productHeading{
  text-align: right;
}
h2{
  text-align: center;
}
#whatWeDo{
  column-width: 100%;
}
#contactUs{
  background-image: url(/assets/backgrounds/c_image.jpg);
}
form{
  background-color: transparent;
}